body  {
    /*background-image: url("/static/images/plotfield.png") ;*/
    /*!*background-repeat: no-repeat;*!*/
    /*background-attachment: fixed;*/
    /*background-repeat: repeat-x;*/
    /*background-position: bottom;*/

}

html, body, main {
    height: 100%;
}

main > div {
    height: 86%;
    overflow-x: hidden;
    overflow-y: auto;
}