{% extends "layout/main.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/irrigation.css' %}">
{% endblock %}


{% block content %}

    <div class="card card-irrigation h-100">

        <div class="card-body">

            <span class="card-title">
                {% block card-title %}
                {% endblock %}
            </span>

            {% block card-body %}

            {% endblock %}
        </div>
        <div class="card-footer">
            {% block card-footer %}

            {% endblock %}
        </div>
    </div>

{% endblock %}