<form action="{% url 'save_sector' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="farm-id" value="{{ farm }}">
    <div class="form-group">
        <label for="" class="form-control-sm">Sector name</label>
        <input type="text" class="form-control form-control-sm" id="txt-sector-name" name="txt-sector-name">
    </div>

{#    <button type="submit" class="btn btn-sm btn-primary">Save</button>#}
</form>

