<form action="{% url 'save_farm' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="" class="form-control-sm">Farm name</label>
        <input type="text" class="form-control form-control-sm" id="txt-farm-name" name="txt-farm-name">
    </div>

{#    <button type="submit" class="btn btn-sm btn-primary">Save</button>#}
</form>

