{% extends "layout/main.html" %}

{% load static %}

{% block content %}

    <div class="d-flex flex-column justify-content-center align-items-center h-100">

        <img class="img-thumbnail" src="{% static 'images/login-view-img.png' %}" alt="">

        <br/>

        <a href="{% url 'weather_data' %}" class="btn btn-lg btn-info">
            Start
        </a>
    </div>

{% endblock %}