{% extends 'irrigation/card-data.html' %}

{% load static %}

{% block card-title %}

{% endblock %}

{% block card-body %}

    <div class="form-row h-100">

        <div class="col-md-6">

            <div class="card border-0">

                <div class="card-body">

                    <span class="card-title">Soil type</span>
                    
                    <div class="form-row mt-4">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="" class="form-control-sm">Soil type</label>
                                <select name="select-soil-type" id="select-soil-type"
                                        class="form-control-sm custom-select custom-select-sm">
                                    <option value="0">Choose one</option>
                                    {% for soil in soils %}
                                        <option value="{{ soil.id }}" data-swc_fc="{{ soil.swc_fc }}" data-swc_wp="{{ soil.swc_wp }}">{{ soil.soil_type }}</option>
                                    {% endfor %}


                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <img src="{% static 'images/Triangle_textura_ENG.png' %}" alt="" class="img-thumbnail">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">

             <div class="card border-0">

                <div class="card-body">

                    <span class="card-title">Soil characteristics</span>

                    <div class="form-row mt-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="form-control-sm">Depth (m)</label>
                                <input type="number" class="form-control form-control-sm" id="txt-depth">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="form-control-sm">Water table</label>
                                <select name="select-water-table" id="select-water-table"
                                        class="form-control custom-select custom-select-sm"></select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="form-control-sm">Gravel and stone content (%)</label>
                                <input type="number" class="form-control form-control-sm" id="txt-stone">
                            </div>
                        </div>

                        <div class="card border-0 m-0 p-0">
                            <span class="card-title">Advanced options</span>

                            <div class="card-body m-0 p-0 mt-2">
                                <div class="form-row">

                                    <div class="col-md-6">
                                         <div class="form-group">
                                            <label for="" class="form-control-sm">Soil water content at field capacity (m3/m3)</label>
                                            <input type="number" class="form-control form-control-sm" id="txt-water-capacity">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="" class="form-control-sm">Soil water content at waiting point (m3/m3)</label>
                                            <input type="number" class="form-control form-control-sm" id="txt-water-waiting">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="" class="form-control-sm">Electrical conductivity of irrigation water (dS/m)</label>
                                            <select name="select-electrical" id="select-electrical"
                                                    class="form-control custom-select custom-select-sm"></select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="" class="form-control-sm">Soil sanity</label>
                                            <select name="select-sanity" id="select-sanity"
                                                    class="form-control custom-select custom-select-sm"></select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block card-footer %}
    <a href="{% url 'weather_data' %}" class="btn btn-sm btn-info float-left">Back</a>
    <a href="{% url 'crop_definition' %}" class="btn btn-sm btn-success float-right">Next</a>
{% endblock %}

{% block js %}
    <script src="{% static 'js/soil_properties.js' %}"></script>
{% endblock %}