{% extends 'irrigation/card-data.html' %}

<!-- this enable import stati files (js, css, img) -->
{% load static %}

{% block card-title %}

{% endblock %}

{% block card-body %}

    <div class="form-row h-100">

        <div class="col-md-6">

            <div class="card border-0">

                <div class="card-body">

                    <span class="card-title">Weather data</span>

                    <div class="form-row mt-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="form-control-sm">Region</label>
                                <select name="select-region" id="select-region"
                                        class="form-control custom-select custom-select-sm"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="form-control-sm">Weather stations</label>
                                <select name="select-station" id="select-station"
                                        class="form-control custom-select custom-select-sm"></select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <img src="{% static 'images/weather_map_pt.png' %}" alt="" class="img-thumbnail">
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="col-md-6">
            <div class="card border-0">

                <div class="card-body">
                    <span class="card-title">Weather data definition</span>

                    <div class="custom-control custom-radio custom-control-inline mt-4">
                        <input type="radio" id="radioD1" name="radioD" class="custom-control-input">
                        <label class="custom-control-label" for="radioD1">SMC (Catalan Meteorologic Service)
                            data</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="radioD2" name="radioD" class="custom-control-input">
                        <label class="custom-control-label" for="radioD2">Generic and user data</label>
                    </div>

                    <div class="w-100 form-row mt-4">
                        <div id="group-smc" class="col-md-6">
                            <div class="form-group">
                                <label for="" class="form-control-sm">SMC</label>
                                <select name="select-smc" id="select-smc"
                                        class="form-control custom-select custom-select-sm"></select>
                            </div>
                        </div>
                        <div id="group-generic" class="col-md-6">
                            <div class="form-group">
                                <label for="" class="form-control-sm">Generic</label>
                                <select name="select-generic" id="select-generic"
                                        class="form-control custom-select custom-select-sm"></select>
                            </div>
                        </div>
                    </div>

                    <div class="card border-0 m-0 p-0">
                        <div class="card-body m-0 p-0">
                            <span class="card-title">Import new weather data</span>

                            <div class="form-row">
                                <div class="col-md-12">
                                    <a href="#" class="btn btn-link mt-3">Download excel template</a>
                                </div>
                                <div class="col-md-12">
                                    <div class="custom-file mt-3">
                                        <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                                        <label class="custom-file-label" for="customFileLang">Choose File</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

{% endblock %}

{% block card-footer %}
    <a href="{% url 'soil_definition' %}" class="btn btn-sm btn-success float-right">Next</a>
{% endblock %}