{% extends 'irrigation/card-data.html' %}

{% load static %}

{% block card-title %}

{% endblock %}

{% block card-body %}

    <div class="form-row h-100">

        <div class="col-md-6">

            <div class="card border-0">

                <div class="card-body">

                    <span class="card-title">Irrigation setup</span>

                    <div class="form-row mt-4">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="form-control-sm">Irrigation system definition</label>
                                <select name="select-irrigation-system" id="select-irrigation-system"
                                        class="form-control-sm custom-select custom-select-sm">
                                    <option value="">Aspersion</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="form-control-sm">Irrigation management goal</label>
                                <select name="select-irrigation-goal" id="select-irrigation-goal"
                                        class="form-control-sm custom-select custom-select-sm">
                                    <option value="1"> Maximize harvest</option>
                                    <option value="2"> Middle term</option>     
                                    <option value="3"> Save water</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <img src="{% static 'images/Aspersio_general_2.png' %}" alt="" class="img-thumbnail"
                                 style="width: 300px">
                        </div>


                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6">

            <div class="card border-0">

                <div class="card-body">

                    <span class="card-title">Irrigation system</span>

                    <div class="form-row mt-4">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="form-control-sm">Irrigation lines per crop line</label>
                                <select name="select-line" id="select-line"
                                        class="form-control-sm custom-select custom-select-sm"></select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="form-control-sm">Distance between drippers (m)</label>
                                <input type="number" class="form-control form-control-sm" id="txt-distance-deppers">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="form-control-sm">Drippers delivery rate (l/h)</label>
                                <input type="number" class="form-control form-control-sm" id="txt-dripper-rate">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="form-control-sm">Distribution uniformity (%)</label>
                                <select name="select-line" id="select-line"
                                        class="form-control-sm custom-select custom-select-sm"></select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="subSurface">
                                <label class="custom-control-label" for="subSurface">Sub-surface irrigation</label>
                            </div>
                        </div>
                    </div>

                    <div class="card-border-0 mt-3">

                        <span class="card-title">Water availability</span>

                        <div class="card-body m-0 p-0 form-row mt-4">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="form-control-sm">Start of water supply</label>
                                    <input type="date" class="form-control form-control-sm" id="date-start">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="form-control-sm">End of water supply</label>
                                    <input type="date" class="form-control form-control-sm" id="date-end">
                                </div>
                            </div>

                            <div class="col-md-12">

                                <div class="card">

                                    <div class="card-body">
                                        <span class="card-title">Weekly schedule</span>

                                        <div class="form-row mt-3 p-0 text-center">
                                            <div class="col form-group">
                                                <label for="water-monday">
                                                    <small>Mon</small>
                                                </label>
                                                <input type="number" class="form-control form-control-sm"
                                                       id="water-monday">
                                            </div>
                                            <div class="col form-group">
                                                <label for="water-monday">
                                                    <small>Tue</small>
                                                </label>
                                                <input type="number" class="form-control form-control-sm"
                                                       id="water-tuesday">
                                            </div>
                                            <div class="col form-group">
                                                <label for="water-monday">
                                                    <small>Wed</small>
                                                </label>
                                                <input type="number" class="form-control form-control-sm"
                                                       id="water-wednesday">
                                            </div>
                                            <div class="col form-group">
                                                <label for="water-monday">
                                                    <small>Thu</small>
                                                </label>
                                                <input type="number" class="form-control form-control-sm"
                                                       id="water-thursday">
                                            </div>
                                            <div class="col form-group">
                                                <label for="water-monday">
                                                    <small>Fri</small>
                                                </label>
                                                <input type="number" class="form-control form-control-sm"
                                                       id="water-friday">
                                            </div>
                                            <div class="col form-group">
                                                <label for="water-monday">
                                                    <small>Sat</small>
                                                </label>
                                                <input type="number" class="form-control form-control-sm"
                                                       id="water-saturday">
                                            </div>
                                            <div class="col form-group">
                                                <label for="water-monday">
                                                    <small>Sun</small>
                                                </label>
                                                <input type="number" class="form-control form-control-sm"
                                                       id="water-sunday">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="form-control-sm">Maximum annual volume of irrigation
                                        (m3/ha)</label>
                                    <input type="number" class="form-control form-control-sm" id="txt-volume-anual">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


{% endblock %}

{% block card-footer %}
    <a href="{% url 'crop_definition' %}" class="btn btn-sm btn-info float-left">Back</a>
    <a href="{% url 'show_result' %}" class="btn btn-sm btn-primary float-right">Calculate</a>
{% endblock %}