{% extends 'irrigation/card-data.html' %}

{% load static %}

{% block card-title %}

{% endblock %}

{% block card-body %}

    <div class="form-row h-100">

        <div class="col-md-6">

            <div class="card border-0">

                <div class="card-body">

                    <span class="card-title">Crop</span>

                    <div class="form-row mt-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="form-control-sm">Crop group</label>
                                <select name="select-crop-group" id="select-crop-group"
                                        class="form-control custom-select custom-select-sm">

                                    <option value="0">Choose one</option>
                                    {% for key, value in crops.items %}
                                        <option value="{{ key }}">{{ key }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="form-control-sm">Crop</label>
                                <select name="select-crop" id="select-crop"
                                        class="form-control custom-select custom-select-sm">
                                    <option value="0">Choose Crop group</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="form-control-sm">Crop options</label>
                                <select name="select-crop-options" id="select-crop-options"
                                        class="form-control custom-select custom-select-sm" >
                                    <option value="0">Choose Crop</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12 text-center">
                            <img class="img-thumbnail" src="{% static 'images/login-view-img.png' %}" alt=""
                                 style="width: 300px">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6">

            <div class="card border-0">

                <div class="card-body">

                    <span class="card-title">Crop definition</span>

                    <div class="form-row mt-4">
                        <div class="col-md-12">
                            <div class="form-inline">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="radioD1" name="radioD" class="custom-control-input">
                                    <label class="custom-control-label" for="radioD1">
                                        Semeadura
                                    </label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="radioD2" name="radioD" class="custom-control-input">
                                    <label class="custom-control-label" for="radioD2">
                                        Transplante
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mt-3">
                            <div class="form-group">
                                <label for="" class="form-control-sm">Flowering date</label>
                                <input type="date" class="form-control form-control-sm" id="date-flowering">
                            </div>
                        </div>

                        <div class="col-md-6 mt-3">
                            <div class="form-group">
                                <label for="" class="form-control-sm">Harvest date</label>
                                <input type="date" class="form-control form-control-sm" id="date-harvest">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="form-control-sm">Potential yield (kg/ha)</label>
                                <select name="select-crop-potential" id="select-potential"
                                        class="form-control custom-select custom-select-sm"></select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="form-control-sm">Distance between lines (m)</label>
                                <input type="number" class="form-control form-control-sm" id="txt-distance-line">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="custom-control custom-checkbox mt-4 pt-3">
                                <input type="checkbox" class="custom-control-input" id="stuffing1">
                                <label class="custom-control-label" for="stuffing1">stuffing</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="form-control-sm">Crop max distance</label>
                                <select name="select-distance" id="select-distance"
                                        class="form-control custom-select custom-select-sm"></select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>


{% endblock %}

{% block card-footer %}
    <a href="{% url 'soil_definition' %}" class="btn btn-sm btn-info float-left">Back</a>
    <a href="{% url 'irrigation_setup' %}" class="btn btn-sm btn-success float-right">Next</a>
{% endblock %}

{% block js %}
    <script src="{% static 'js/crop_properties.js' %}"></script>
{% endblock %}