{% extends 'irrigation/card-data.html' %}

{% load static %}

{% block card-body %}

    {% csrf_token %}

    <div class="form-row h-100">

        <div class="col-md-4">

            <div class="card border-0">

                <div class="card-body p-0 m-0">

                    {#                                        <span class="card-title">Create Farm</span>#}

                    <div id="panel-add" class="form-row mt-4">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="" class="form-control-sm">
                                    Farm
                                    <span id="add-farm" class="text-info mx-2"><i class="fas fa-plus"></i></span>
                                </label>
                                <select name="select-farm" id="select-farm"
                                        class="form-control custom-select custom-select-sm">
                                    <option value="0">Select one</option>
                                    {% for f in farms %}
                                        <option value="{{ f.id }}">{{ f.label }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="" class="form-control-sm">
                                    Irrigation sector
                                    <span id="add-sector" class="text-info mx-2"><i class="fas fa-plus"></i></span>
                                </label>
                                <select name="select-sector" id="select-sector"
                                        class="form-control custom-select custom-select-sm">
                                    <option value="0">Select the farm</option>

                                </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label for="" class="form-control-sm">Features</label>

                            <table id="table-features" class="table table-sm table-condensed w-100">
                                <thead>
                                <th style="width: 10%"></th>
                                <th style="width: 50%">
                                    <small>label</small>
                                </th>
                                <th style="width: 20%">
                                    <small>id</small>
                                </th>
                                <th style="width: 20%"></th>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card border-0 p-0 m-0">

                <div class="card-body">

                    {#                    <span class="card-title">Add geolocation</span>#}

                    <div class="form-row mt-4">

                        <div class="col-md-12 form-inline mb-2">
                            <input type="text" id="feature-name" class="form-control form-control-sm"
                                   placeholder="feature name">

                            <div class="custom-control custom-radio custom-control-inline ml-3">
                                <input type="radio" id="rbt-point" name="rbt_type" data-action="point" class="custom-control-input">
                                <label class="custom-control-label" for="rbt-point">
                                    Point
                                </label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="rbt-polygon" name="rbt_type" data-action="polygon" class="custom-control-input" checked>
                                <label class="custom-control-label" for="rbt-polygon">
                                    polygon
                                </label>
                            </div>

                            <button id="btn-create-region" class="btn btn-sm btn-warning float-right">Create region</button>
                        </div>
                        <div class="col-md-12">
                            <div id="map" class="card w-100" style="height: 400px;"></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block card-footer %}
    {#    <a href="#" class="btn btn-sm btn-secondary float-right ml-2">Cancel</a>#}
    {#    <a href="#" class="btn btn-sm btn-success float-right">Save</a>#}
    <a href="{% url 'soil_definition' %}" class="btn btn-sm btn-info float-right">Next</a>
{% endblock %}

{% block js %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAl_SR2yFtTh-5oPDuFvsI5xrIoxEr54qg&libraries=geometry&callback=newFarm.initMap"
            async defer></script>
    <script src="{% static 'js/new-farm.js' %}"></script>

{% endblock %}