{% extends "layout/main.html" %}
{% load static %}

{% block content %}

    <div class="form-row">

        <div class="col-md-3 h-100">

            <div class="card">
                <div class="card-body">

                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group form-group-sm">
                                <label for="">
                                    <small>Farm</small>
                                </label>
                                <select name="select-farm" id="select-farm" class="form-control form-control-sm">
                                    <option value="0">Select one</option>
                                    {% for f in farms %}
                                        <option value="{{ f.id }}">{{ f.label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-group-sm">
                                <label for="">
                                    <small>Irrigation sector</small>
                                </label>
                                <select name="select-sector" id="select-sector"
                                        class="form-control form-control-sm"></select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-group-sm">
                                <label for="">
                                    <small>Date</small>
                                </label>
                                <input type="date" name="date" id="irrigation-date" value="2018-09-01"
                                       class="form-control form-control-sm">
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="card">

                <div class="card-body" style="min-height: 200px">
                    <span class="card-title ">Proposed irrigation for today</span>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group form-group-sm">
                                <label for="">
                                    <small>Reference Eto (mm)</small>
                                    <span class="text-info" data-toggle="tooltip" data-placement="top" title="Evapotranspiration">
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                </label>
                                <input type="number" id="input-eto" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-group-sm">
                                <label for="">
                                    <small>Daily irrigation dose (mm)</small>
                                </label>
                                <input type="number" id="input-daily-irr" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <button class="btn btn-info" id="btn-recalculate">Recalculate</button>
                            <button class="btn btn-success" id="btn-save">Save</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-9 px-2">

            <div class="alert alert-light text-right">
                <span id="irrigation-failed" class="text-primary m-2" data-toggle="tooltip" data-placement="top"
                                          title="Irrigation failed" style="display: none">
                    <i class="fas fa-tint"></i>
                </span>
                <span id="plan-failed" class="text-success m-2" data-toggle="tooltip" data-placement="top"
                                          title="Plan failed" style="display: none">
                    <i class="fas fa-file-alt"></i>
                </span>
                <span id="sensor-failed" class="text-info m-2" data-toggle="tooltip" data-placement="top"
                                          title="Sensor failed" style="display: none">
                    <i class="fab fa-rev"></i>
                </span>
                <span id="traffic" class="m-2 text-muted"><i class="fas fa-circle"></i></span>
            </div>
            <div id="graph-sector" class="card d-block" style="height: 40%">
                <canvas id="chart-sector" width="100%" height="100%"></canvas>
            </div>

            <div id="graph-irrigation" class="card d-block mt-3" style="height: 40%">
                <canvas id="chart-irrigation" width="100%" height="100%"></canvas>
            </div>

        </div>

    </div>

{% endblock %}

{% block js %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="{% static 'js/result.js' %}"></script>
{% endblock %}