<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "layout/head.html" %}

        {% block style %}
            <!-- this sector is to add new css files if children need -->
        {% endblock %}

    </head>
    <body class="bg-light">
        {% block body %}
        {% endblock %}

        {% include "layout/scripts.html" %}

        {% block js %}
            <!-- this sector is to add new javascript files if children need -->
        {% endblock %}

        {% include 'layout/html-modal.html' %}
    </body>
</html>