{% extends "layout/html.html" %}

{% block body %}

    <header>
        {% include "layout/nav.html" %}
    </header>

    <main role="main" class="container-fluid d-flex justify-content-center">
        <div class="mt-5 pt-2 w-75 bg-white rounded shadow-sm">
        {% block content %}
            <!-- replace this sector with the html page -->
        {% endblock %}
        </div>
    </main>

    <footer class="footer w-100 fixed-bottom text-center p-2">
        {% include "layout/content-footer.html" %}
    </footer>
{% endblock %}
