{% url 'main_screen' as main_screen %}
{% url 'weather_data' as init_irrigation %}
{% url 'import_data' as import_data %}
{% url 'import_data_to_sensors' as import_data_to_sensors %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark shadow-sm">
    <a class="navbar-brand" href="{{ main_screen }}">IrriDesk</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item {% if init_irrigation == request.path %}active{% endif %}">
                <a class="nav-link" href="{{ init_irrigation }}">Start</a>
            </li>

            <li class="nav-item {% if import_data == request.path %}active{% endif %}">
                <a class="nav-link" href="{{ import_data }}">Import data farms</a>
            </li>

            <li class="nav-item {% if import_data_to_sensors == request.path %}active{% endif %}">
                <a class="nav-link" href="{{ import_data_to_sensors }}">Import data sensors</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'import_crop_soil_properties' %}">Import Crop and Soil</a>
            </li>
        </ul>

    </div>
</nav>